{% extends '::base.html.twig' %}

{% block title %}About Ibase Trading{% endblock %}

{% block body %}
<div id="breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="{{ path('ibase_home') }}">Home</a></li>
        <li class="active">About us</li>
    </ol>
</div>
<div id="contactForm" class="well well-lg">
    <h1>About Us</h1>
    <p>The site is under construction...</p>
</div>
{% endblock %}


