parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    paypal.express_checkout.username: zzforg-facilitator_api1.hotmail.com
    paypal.express_checkout.password: 1405563210
    paypal.express_checkout.signature: AFcWxV21C7fd0v3bYYYRCpSSRl31A.93M.uorNqeuapBYkLJUKxHF9gl

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
