/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2014, 4:31:16 PM
    Author     : jw
    Editor     : Gary
*/

/*
This part is for product list page
*/
.thumbnail-img{
    width: 200px;
    height: 200px;
}

/*
This part is for product details page
*/
#main_left{
    display:block;
    float:left;
    width: 57.5%;
    min-height: 800px;
    padding: 0px 30px;
}
#main_right{
    display:block;
    float: right;
    width: 30%;
    background-color: #f2f9f2;
    height: 800px;
    padding: 10px 30px;
}

#pro_heading{
    border-color: #efefef;
    border-style: solid;
    border-width: 0 0 1px;
    margin-bottom: 12px;
    padding-top: 0;
}
.records_list{
    width: 100%;
}
.records_list td{
    width: 33.33%;
}

.records_list ul{
    display: block;
    list-style-type:  none;    
}

.records_list ul li{
    margin-left: 25px;
}

#product_name{
    font-size: 25px;
    font-weight: bolder;
}

#product_price{
    font-size: 3em; 
    font-weight: bolder;

}

#add_to_chart{
    background: url("../images/add_to_chart.png") no-repeat left top;    
    width: 200px; 
    height: 50px; 
}

#product_img_display {
    width:650px;
}

#product_img_display #bg_img{
    float:left;
    display:block;
    height:350px;
}

#product_img_display #sml_img{
    float:left;
    display:block;
}

#product_img_display img{
    margin-top: 5px;
}

#spec_style{
    clear:both;
    width:100%;
}

#spec_style table td{
    max-width:500px;
    overflow:hidden;
    word-wrap: break-word;
}

.specifications{
    list-style-type: none;
    
}

#specifications li{
    margin: 2px;
}

#form_quantity{
    width:50px;
}
