{% extends '::ibaseAdmin.html.twig' %}
{% form_theme form 'IbaseStoreBundle:Form:fields.html.twig' %}

{% block section -%}
    <h1>Purchase creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('Purchase') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
