/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2014, 4:31:16 PM
    Author     : jw
*/
#main_left{
    display:block;
    float:left;
    width: 57.5%;
    min-height: 500px;
    padding: 30px;
}
#main_right{
    display:block;
    float: right;
    width: 30%;
    background-color: #f2f9f2;
    height: 1024px;
    padding: 30px;
}

.records_list{
    width: 100%;
}
.records_list td{
    width: 33.33%;
}

.records_list ul{
    display: block;
    list-style-type:  none;    
}

.records_list ul li{
    margin-left: 25px;
}

#product_name{
    font-size: 25px;
    font-weight: bolder;
}

#product_price{
    font-size: 3em; 
    font-weight: bolder;

}

#add_to_chart{
    background: url("../images/add_to_chart.png") no-repeat left top;    
    width: 200px; 
    height: 50px; 
}

.specifications{
    list-style-type: none;
    
}

.specifications li{
    margin: 2px;
}
